@font-face {
    font-family: 'font1';
    src: url(fonts/Figtree-.ttf);
    font-family: 'font22';
    src: url(fonts/Figtree-ExtraBold.ttf);
    font-family: 'font3';
    src: url(fonts/Figtree-Medium.ttf)
}
body {
    background-color: #F2D34F;
}
.card {
    background-color: white;
    padding: 25px;
    width: 300px;
    height: 410px;
    outline: black 1px solid;
    border-radius: 20px;
    margin-left: 40%;
    margin-top: 10%;
    text-align: center;
    box-shadow: 10px 10px 0px gray;
    
}
.card:hover {
    box-shadow: 10px 10px 0px black;
}
img {
    width: 100%;
    height: auto;
    border-radius: 10px ;
}
img:hover {
    box-shadow: 5px 5px 0px #E5C43D;
    border-radius: 10px;
}

@media (max-width: 600px) {
    img {
        width: 150px;
        height: 100px;
    }
}
h1 {
    text-align: left;
    font-size: 14px;
    font-family: 'font1' ,sans-serif;
    font-weight: bold;
    padding: 5px 12px;
    border-radius: 5px;
    background-color: #F2D34F;
    width: 65px;
     
}
h1:hover {
    background-color: #E5C43D;
    cursor: pointer;
}
h2 {
    text-align: left;
    font-family: 'font1' ,sans-serif;
    font-size: 13px;
    font-weight: lighter;
}
h3 {
    text-align: left;
    font-family: 'font3',sans-serif;
    font-size: 20px;
}
h3:hover {
    background-color: #E5C43D;
    width: 250px;
    padding-left: 10px;
}
p {
    text-align: left;
    font-family: 'font3',sans-serif;
    color: grey;
    font-size: smaller;
    line-height: 1.5; 
}
.author-img {
    width: 30px;
    margin-right: 270px;  
}
.author-name {
    margin-top: -30px;
    margin-right: 125px;
    font-family: 'font22',sans-serif;
    font-weight: 800;
    font-size: small;
}


